# Secrets and environment
.env
.azure/
.streamlit/secrets.toml

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# Specific files to keep private
.test.py
src/services/create_permanent.py